<div class="notes-tab">
    <div class="notes-editor border">
        <h1>{{localize "TITLE.NOTES"}}</h1>
        <div style="height: 600px; width: 100%">
            {{editor enrichment.system.bio.notes target="system.bio.notes" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
